<!-- <ion-header [translucent]="true">
  <ion-toolbar><ion-title>Blank</ion-title></ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
    <div id="menu">
        <img src="../../assets/Logo.png">
        <ion-segment [value]="'tabuleiros'">
            <ion-segment-button [routerLink]="['/home']" value="home">
                <ion-label>Coleções</ion-label>
            </ion-segment-button>
            <ion-segment-button value="tabuleiros">
                <ion-label>Seus tabuleiros</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>
    <div id="collection">
        <h1>Meus tabuleiros</h1>
        <div>
            <ion-searchbar #searchBar [(ngModel)]="searchText" (ionChange)="searchColection()" (ionFocus)="focusSearch()" (ionBlur)="focusSearch()" placeholder="Pesquisar coleções"></ion-searchbar>
            <ion-button color="dark" (click)="editCollection()" *ngIf="boards.length > 0 || searching">Criar novo tabuleiro</ion-button>
        </div>
        <div class="externDiv">
            <div *ngIf="favouritedCount > 0" class="favouriteLine">
                <p>Favoritos</p>
                <ion-icon name="star"></ion-icon>
                <div class="line" style="width: 80%;"></div>
                <ion-icon name="chevron-up-outline"></ion-icon>
            </div>
            <div *ngIf="favouritedCount > 0" class="boardList" style="margin-bottom: 25px;">
                <ion-card *ngFor="let b of favouriteList; let i = index">
                    <ion-card-header></ion-card-header>
                    <ion-card-content>
                        <span> {{b.titulo}}</span>
                        <div (click)="popoverOpen($event, popover); clickedCol = boards.indexOf(b);">
                            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                        </div>
                    </ion-card-content>
                </ion-card>
            </div>
            <div class="line" *ngIf="boards.length > this.favouritedCount || boards.length === 0"></div>
            <div *ngIf="boards.length === 0 && !searching">
                <p></p>
                <p style="margin-top: 100px;">Você ainda não tem um tabuleiro</p>
                <ion-button color="dark" (click)="editCollection()">Criar novo tabuleiro</ion-button>
            </div>
            <div *ngIf="boards.length > this.favouritedCount" class="boardList">
                <ion-card *ngFor="let b of boards; let i = index" [hidden]="b.favourited && !searching">
                    <ion-card-header></ion-card-header>
                    <ion-card-content>
                        <span> {{b.titulo}}</span>
                        <div (click)="popoverOpen($event, popover); clickedCol = boards.indexOf(b);">
                            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                        </div>
                    </ion-card-content>
                </ion-card>
            </div>
        </div>
    </div>
</ion-content>
<ion-popover #popover reference="event" class="colecPopover" (willPresent)="popoverText(clickedCol)" (didDismiss)="popoverOpen(undefined)">
    <ng-template>
        <ion-content>
            <ul>
                <li>
                    <div (click)="editCollection(clickedCol); popover.dismiss();">
                        <ion-icon name="pencil"></ion-icon><span>Editar</span>
                    </div>
                </li>
                <li>
                    <div (click)="duplicateCol(clickedCol); popover.dismiss();">
                        <ion-icon name="copy"></ion-icon><span>Duplicar</span>
                    </div>
                </li>
                <li>
                    <div (click)="popover.dismiss(); favouriteCol(clickedCol);">
                        <ion-icon name="star"></ion-icon><span>{{favText}}</span>
                    </div>
                </li>
                <li>
                    <div (click)="activeDetails(clickedCol); popover.dismiss();">
                        <ion-icon name="information"></ion-icon><span>Ver detalhes</span>
                    </div>
                </li>
                <div class="line"></div>
                <li>
                    <div (click)="deleteCol(clickedCol); popover.dismiss();">
                        <ion-icon name="trash"></ion-icon><span>Excluir</span>
                    </div>
                </li>
            </ul>
        </ion-content>
    </ng-template>
</ion-popover>