<div id="unity-container" class="unity-desktop">
  <canvas id="unity-canvas" width=960 height=600></canvas>
  <div id="unity-loading-bar">
    <div id="unity-logo"></div>
    <div id="unity-progress-bar-empty">
      <div id="unity-progress-bar-full"></div>
    </div>
  </div>
  <div id="unity-warning"> </div>
  <div id="unity-footer">
    <div id="unity-webgl-logo"></div>
    <div id="unity-fullscreen-button"></div>
    <div id="unity-build-title">NexusBoard</div>
  </div>
</div>
<!-- <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-database.js"></script>
<script>
  var firebaseConfig = {
    apiKey: "AIzaSyAMaC6Q7cxY6Xko8Ni6-NMv2AO33PDtwlg",
    authDomain: "boardnex.firebaseapp.com",
    databaseURL: "https://boardnex-default-rtdb.firebaseio.com",
    projectId: "boardnex",
    storageBucket: "boardnex.appspot.com",
    messagingSenderId: "993735611583",
    appId: "1:993735611583:web:74b39b38c43c7115c8220a"
  };

  firebase.initializeApp(firebaseConfig);
</script>  -->