<!-- <ion-header>
    <ion-title>login</ion-title>
</ion-header> -->

<ion-content>
    <img src="../../assets/Logo2.png">
    <div>
        <div>
            <h1>Login</h1>
            <ion-input placeholder="Input text"></ion-input>
            <ion-input placeholder="Senha"></ion-input>
            <ion-button>Entrar</ion-button>
            <div>
                <ion-toggle></ion-toggle>
                <p>Manter-me conectado</p>
            </div>
            <div>
                <div class="line"></div>
                <p>Ou</p>
                <div class="line"></div>
            </div>
            <ion-button style="margin-top: 16px;">Login com Google</ion-button>
        </div>
    </div>
</ion-content>