<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Nexus</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-slides #slides pager="true" [options]="SliderOptions" (ionSlidesDidLoad)="slidesLoaded(slides)">
        <ion-slide id="edit1">
            <h1>Nova coleção</h1>
            <p>Classificar coleção</p>
            <form [formGroup]="forms">
                <div>
                    <ion-item lines="none">
                        <!-- <div>
                            <ion-icon name="help-outline"></ion-icon>
                            <span>Descrição</span>
                        </div> -->
                        <ion-label class="ion-text-wrap">
                            <ion-text>
                                <p>Título</p>
                            </ion-text>
                            <ion-input formControlName="titulo" placeholder="Digite aqui"></ion-input>
                        </ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label class="ion-text-wrap">
                            <ion-text>
                                <p>Disciplina</p>
                            </ion-text>
                            <ion-input formControlName="disciplina"></ion-input>
                        </ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label class="ion-text-wrap">
                            <ion-text>
                                <p>Curso</p>
                            </ion-text>
                            <ion-input formControlName="curso"></ion-input>
                        </ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label class="ion-text-wrap">
                            <ion-text>
                                <p>Tema</p>
                            </ion-text>
                            <ion-input formControlName="tema" placeholder="Digite aqui"></ion-input>
                        </ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label class="ion-text-wrap">
                            <ion-text>
                                <p>Etapa</p>
                            </ion-text>
                            <ion-input formControlName="etapa"></ion-input>
                        </ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-label class="ion-text-wrap">
                            <ion-text>
                                <p>Tópico</p>
                            </ion-text>
                            <ion-input formControlName="topico" placeholder="Digite aqui"></ion-input>
                        </ion-label>
                    </ion-item>
                    <ion-button color="dark" (click)="dismiss()">Cancelar</ion-button>
                    <ion-button color="dark" (click)="navigateTab(1)">Próxima</ion-button>
                </div>
            </form>
        </ion-slide>
        <ion-slide id="edit2">
            <h1>Coleção pica</h1>
            <form [formGroup]="questionForm" class="flexDiv">
                <div>
                    <ion-input formControlName="enum" placeholder="Adicione um enunciado"></ion-input>
                    <ion-button color="light" (click)="getImage()">
                      <input style="visibility: hidden; position: absolute; top: 0;" id="galleryInput" type="file" accept="image/*">
                      Adicione uma imagem
                    </ion-button>
                    <img [src]="qImg" [hidden]="qImg === ''" style="max-height: 110px; margin-top: 10px;">
                </div>
                <div></div>
                <div>
                    <ul>
                        <li>
                            <ion-toggle (click)="changeRightAnswer($event, 0)" checked="true" class="altToggle"></ion-toggle>
                            <ion-input formControlName="alter1" placeholder="Digite aqui uma opção de resposta"></ion-input>
                        </li>
                        <li>
                            <ion-toggle (click)="changeRightAnswer($event, 1)" class="altToggle"></ion-toggle>
                            <ion-input formControlName="alter2" placeholder="Digite aqui uma opção de resposta"></ion-input>
                        </li>
                        <li>
                            <ion-toggle (click)="changeRightAnswer($event, 2)" class="altToggle"></ion-toggle>
                            <ion-input formControlName="alter3" placeholder="Digite aqui uma opção de resposta"></ion-input>
                        </li>
                        <li>
                            <ion-toggle (click)="changeRightAnswer($event, 3)" class="altToggle"></ion-toggle>
                            <ion-input formControlName="alter4" placeholder="Digite aqui uma opção de resposta"></ion-input>
                        </li>
                    </ul>
                </div>
                <ion-button color="dark" (click)="navigateTab(-1)">Voltar</ion-button>
                <ion-button color="dark" style="right: 0;" (click)="finishForms()">Salvar coleção</ion-button>
            </form>
            <div id="footMenu">
                <div (click)="openFootMenu()">
                    <ion-icon [name]="footMenuButton" title="abrir"></ion-icon>
                </div>
                <ion-row>
                    <ion-col *ngFor="let a of questions; let i = index" (click)="switchQuestion(i)" class="{{(i === qInd) ? 'selected' : 'none'}}">
                        <p>Questão {{i+1}}</p>
                        <div></div>
                    </ion-col>
                </ion-row>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>
