ion-header {
    --background: transparent;
    ion-toolbar {
        --background: #C4C4C4;
        ion-title {
            color: black;
        }
    }
}

* {
    color: #707070;
}

h1 {
    text-align: center;
    font: 700 36px/42px Roboto;
}

#edit1 {
    height: 90vh;
    flex-direction: column;
    padding: 0 5%;
    p {
        width: 90%;
        text-align: left;
        font: 700 24px/28px Roboto;
    }
    form >div {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        ion-item {
            width: 30%;
            margin: 0 5% 3% 5%;
            position: relative;
            --background: transparent;
            --padding-start: 0px;
            ion-label {
                max-width: none;
                width: 100%;
                ion-input {
                    --background: #FFFFFF;
                    --padding-top: 6px;
                    --padding-bottom: 6px;
                    border-radius: 10px;
                    border: 2px solid #C4C4C4;
                    margin-top: 8px;
                }
            }
            // div {
            //     float: right;
            //     position: absolute;
            //     top: 0;
            //     right: 0;
            //     display: inline-block;
            //     pointer-events: all;
            //     z-index: 100;
            //     ion-icon {
            //         pointer-events: none;
            //     }
            //     span {
            //         visibility: hidden;
            //         width: 120px;
            //         background-color: black;
            //         color: #fff;
            //         text-align: center;
            //         padding: 5px 0;
            //         border-radius: 6px;
            //         position: absolute;
            //         top: -5px;
            //         left: 105%;
            //         z-index: 11;
            //     }
            //     &:hover span {
            //         visibility: visible;
            //     }
            // }
        }
        ion-button {
            width: 20%;
            margin: 0 5% 0 5%;
        }
    }
}

#edit2 {
    height: 100vh;
    flex-direction: column;
    padding: 0 10% 10vh 10%;
    h1 {
        width: 100%;
        text-align: left;
    }
    ion-button {
        width: 22.5%;
        position: absolute;
        bottom: 0;
    }
    .flexDiv {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 10% 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        ion-input {
            text-align: left;
            --background: #FFFFFF;
            --padding-top: 9px;
            --padding-bottom: 9px;
            --padding-start: 14px;
            border-radius: 10px;
            border: 1px solid #C4C4C4;
            margin-top: 8px;
            font: 700 14px/21px Roboto;
        }
        >div:nth-child(1) {
            width: 50%;
            height: 80%;
            ion-button {
                position: relative;
                width: 100%;
                margin-top: 20px;
            }
        }
        >div:nth-child(2) {
            border: 1px solid #707070;
            height: 80%;
        }
        >div:nth-child(3) {
            width: 45%;
            height: 80%;
            margin: 0;
            ul {
                list-style-type: none;
                padding-inline-start: 0;
                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    div, ion-toggle {
                        width: 31px;
                        height: 31px;
                        border-radius: 50%;
                        border: 2px solid #707070;
                        background: #C4C4C4;
                        margin-right: 30px;

                        padding: 0;
                        --handle-background: transparent;
                        --handle-background-checked: transparent;
                        --handle-box-shadow: none;
                    }
                    ion-input {
                        margin-top: 0;
                    }
                }
            }
        }
    }
    #footMenu {
        position: absolute;
        transition: bottom .5s;
        bottom: calc(-30vh + 40px);
        width: 100%;
        height: 30vh;
        background-color: #C4C4C4;
        padding: 2% 10% 0 10%;
        >div {
            position: absolute;
            cursor: pointer;
            left: 0;
            right: 0;
            top: -20px;
            margin: auto;
            padding: 11px 0;
            width: 40px;
            height: 40px;
            background-color: white;
            border-radius: 50%;
            box-shadow: 0px 4px 10px rgba(112, 112, 112, 0.2);
        }
        ion-row {
            height: 100%;
            padding: 1% 0;
            ion-col {
                max-width: 15.6%;
                margin-right: 30px;
                p {
                    text-align: left;
                    margin: 0 0 5px 0;
                    color: white;
                    font: 700 16px/21px Roboto;
                }
                div {
                    background-color: #8F8F8F;
                    height: 70%;
                    width: 100%;
                    border-radius: 10px;
                }
                &:last-child {
                    margin-left: 0;
                }
                &.selected div {
                    border: 2px solid black;
                }
            }
        }
    }
}
