/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Font Import */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
ion-content {
    --background: #F5F5F5;
}

#menu {
    position: relative;
    img {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        margin: auto;
    }
    ion-segment {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        ion-segment-button {
            --indicator-height: 0px;
            max-height: 40px;
            ion-label {
                text-transform: none;
                width: 90%;
                text-align: left;
                color: #707070;
                font: 700 18px/22px Roboto;
            }
            &.segment-button-checked {
                background-color: black;
                background-color: #707070;
                ion-label {
                    color: white;
                }
            }
        }
    }
}

.colectionEditPageClass {
    --width: 100vw;
    --height: 100vh;
}

ion-item .item-native {
    flex-direction: column;
}

.swiper-pagination {
    pointer-events: none;
}

.swiper-pagination-bullets {
    bottom: calc(10vh + 10px) !important;
    z-index: 0;
    span {
        border-radius: 10px;
        height: 10px;
        background: transparent;
        transition: width 0.7s;
    }
    .swiper-pagination-bullet {
        background-color: #605b5b;
        width: 20px;
    }
    .swiper-pagination-bullet-active {
        background-color: #606060;
        width: 40px;
    }
}

.dismissPopUp {
    --max-width: none;
    // shape
    .alert-wrapper.sc-ion-alert-md {
        width: 45vw;
        --background: #ffffff;
        border-radius: 10px;
    }
    // header
    .alert-head.sc-ion-alert-md {
        padding: 2.5vw 2.5vw 1vw 2.5vw;
        h2 {
            font: 700 24px/28px Roboto;
            color: black;
        }
    }
    // message
    .alert-message.sc-ion-alert-md {
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        font: 400 18px/21px Roboto;
        color: black;
    }
    // buttons
    .alert-button-group.sc-ion-alert-md {
        background-color: #EEEEEE;
        padding: 16px 32px;
        .alert-button.sc-ion-alert-md {
            border-radius: 5px;
            padding: 7px 18px;
            margin-inline-end: 0;
            width: 100px;
            span {
                justify-content: center;
            }
            span {
                text-transform: none;
                font: 700 14px/16px Roboto;
            }
            &:nth-child(1) {
                border: 2px solid #C4C4C4;
                background: transparent;
                box-sizing: border-box;
                span {
                    color: #C4C4C4;
                }
            }
            &:nth-child(2) {
                background-color: #C4C4C4;
                margin-left: 28px;
                span {
                    color: white;
                }
            }
        }
    }
}