/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

ion-content {
    --background: #F5F5F5;
}

.colectionEditPageClass {
    --width: 100vw;
    --height: 100vh;
}

ion-item .item-native {
    flex-direction: column;
}

.swiper-pagination {
    pointer-events: none;
}

.swiper-pagination-bullets {
    span {
        border-radius: 10px;
        height: 10px;
        background: transparent;
        transition: width 0.7s;
    }
    .swiper-pagination-bullet {
        background-color: #605b5b;
        width: 20px;
    }
    .swiper-pagination-bullet-active {
        background-color: #606060;
        width: 40px;
    }
}
