<!-- <ion-header [translucent]="true">
  <ion-toolbar><ion-title>Blank</ion-title></ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
    <div id="menu">
        <img src="../../assets/Logo.png">
        <ion-segment [value]="'home'">
            <ion-segment-button value="home">
                <ion-label>Coleções</ion-label>
            </ion-segment-button>
            <ion-segment-button [routerLink]="['/tabuleiros']" value="tabuleiros">
                <ion-label>Seus tabuleiros</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>
    <div id="collection">
        <h1>Minhas Coleções</h1>
        <div>
            <ion-searchbar #searchBar [(ngModel)]="searchText" (ionChange)="searchColection()" (ionFocus)="focusSearch()" (ionBlur)="focusSearch()" placeholder="Pesquisar coleções"></ion-searchbar>
            <ion-button color="dark" (click)="editCollection()" *ngIf="colecList.length > 0 || searching">Criar nova coleção</ion-button>
        </div>
        <div class="externDiv">
            <div *ngIf="favouritedCount > 0" class="favouriteLine">
                <p>Favoritos</p>
                <ion-icon name="star"></ion-icon>
                <div class="line" style="width: 80%;"></div>
                <ion-icon name="chevron-up-outline"></ion-icon>
            </div>
            <div *ngIf="favouritedCount > 0" class="colecList" style="margin-bottom: 50px;">
                <div>
                    <p>Título</p>
                    <p>Data de criação</p>
                    <p>Última modificação</p>
                </div>
                <div *ngFor="let c of favouriteList; let i = index" class="colecItem">
                    <ion-item lines="none">
                        <ion-text>{{c.titulo}}</ion-text>
                        <ion-text>{{c.createdDate}}</ion-text>
                        <ion-text>{{c.lastMod}}</ion-text>
                        <div (click)="popoverOpen($event, popover); clickedCol = colecList.indexOf(c);">
                            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                        </div>
                    </ion-item>
                    <div>
                        <span><p>Titulo</p><p style="width: 85%;">{{c.titulo}}⠀</p></span>
                        <span><p>Curso</p><p>{{c.curso}}⠀</p><p>Disciplina</p><p>{{c.disciplina}}⠀</p></span>
                        <span><p>Etapa</p><p>{{c.etapa}}⠀</p><p>Tema</p><p>{{c.tema}}⠀</p></span>
                        <span><p>Nº de questões</p><p>{{c.questoes.length}}⠀</p><p>Tópico</p><p>{{c.topico}}⠀</p></span>
                        <ion-icon name="chevron-up-outline" (click)="unactiveDetails(i);"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="line" *ngIf="colecList.length > this.favouritedCount || colecList.length === 0"></div>
            <div *ngIf="colecList.length === 0 && !searching">
                <p>Crie grupos de questões para integração ao boardNEX</p>
                <p style="margin-top: 100px;">Você ainda não tem uma coleção</p>
                <ion-button color="dark" (click)="editCollection()">Criar nova coleção</ion-button>
            </div>
            <div *ngIf="colecList.length > this.favouritedCount" class="colecList">
                <div>
                    <p>Título</p>
                    <p>Data de criação</p>
                    <p>Última modificação</p>
                </div>
                <div *ngFor="let c of colecList; let i = index" [hidden]="c.favourited && !searching" class="colecItem">
                    <ion-item lines="none">
                        <ion-text>{{c.titulo}}</ion-text>
                        <ion-text>{{c.createdDate}}</ion-text>
                        <ion-text>{{c.lastMod}}</ion-text>
                        <div (click)="popoverOpen($event, popover); clickedCol = colecList.indexOf(c);">
                            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                        </div>
                    </ion-item>
                    <div>
                        <span><p>Titulo</p><p style="width: 85%;">{{c.titulo}}⠀</p></span>
                        <span><p>Curso</p><p>{{c.curso}}⠀</p><p>Disciplina</p><p>{{c.disciplina}}⠀</p></span>
                        <span><p>Etapa</p><p>{{c.etapa}}⠀</p><p>Tema</p><p>{{c.tema}}⠀</p></span>
                        <span><p>Nº de questões</p><p>{{c.questoes.length}}⠀</p><p>Tópico</p><p>{{c.topico}}⠀</p></span>
                        <ion-icon name="chevron-up-outline" (click)="unactiveDetails(i);"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-popover #popover reference="event" class="colecPopover" (willPresent)="popoverText(clickedCol)" (didDismiss)="popoverOpen(undefined)">
    <ng-template>
        <ion-content>
            <ul>
                <li>
                    <div (click)="editCollection(clickedCol); popover.dismiss();">
                        <ion-icon name="pencil"></ion-icon><span>Editar</span>
                    </div>
                </li>
                <li>
                    <div (click)="duplicateCol(clickedCol); popover.dismiss();">
                        <ion-icon name="copy"></ion-icon><span>Duplicar</span>
                    </div>
                </li>
                <li>
                    <div (click)="popover.dismiss(); favouriteCol(clickedCol);">
                        <ion-icon name="star"></ion-icon><span>{{favText}}</span>
                    </div>
                </li>
                <li>
                    <div (click)="activeDetails(clickedCol); popover.dismiss();">
                        <ion-icon name="information"></ion-icon><span>Ver detalhes</span>
                    </div>
                </li>
                <div class="line"></div>
                <li>
                    <div (click)="deleteCol(clickedCol); popover.dismiss();">
                        <ion-icon name="trash"></ion-icon><span>Excluir</span>
                    </div>
                </li>
            </ul>
        </ion-content>
    </ng-template>
</ion-popover>