#collection {
    text-align: center;
    width: 70%;
    padding: 2% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    h1 {
        font: 700 36px/42px Roboto;
        color: black;
        margin-bottom: 0;
    }
    p {
        font: 700 18px/21px Roboto;
        color: #707070;
        margin-top: 32px;
    }
    h1+div {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: inherit;
        justify-content: center;
        ion-input {
            text-align: left;
            --color: #606060;
            --background: #C4C4C4;
            border-radius: 10px;
            width: 65%;
            max-width: 65%;
            margin: 6.5% 0;
        }
        ion-button {
            margin-left: 70px;
        }
    }
    ion-button {
        text-transform: none;
    }
    .colecList {
        width: 100%;
        >div:first-child {
            padding: 0 10px;
            height: 48px;
            background-color: transparent;
            p {
                float: left;
                text-align: left;
                width: 33%;
                margin-top: 20px;
                color: #707070;
                font: 500 16px/21px Roboto;
            }
        }
        >div {
            position: relative;
            margin-top: 9px;
            padding: 0;
            height: 48px;
            background-color: #ABABAB;
            border-radius: 10px;
            transition: height .5s;
            ion-item {
                width: 100%;
                clear: left;
                --padding-start: 10px;
                --padding-end: 10px;
                --inner-padding-end: 0;
                --background: #C4C4C4;
                --border-radius: 10px;
                margin-bottom: 20px;
                overflow: visible;
                z-index: 1;
                ion-text {
                    z-index: 2;
                    text-align: left;
                    width: 33%;
                    color: #000000;
                    font: 600 16px/21px Roboto;
                }
                >div {
                    position: absolute;
                    right: 5px;
                    height: 21px;
                    width: 21px;
                    border-radius: 50%;
                    cursor: pointer;
                    z-index: 3;
                    transition: background-color .5s;
                    ion-icon {
                        margin-left: 2.25px;
                        color: #707070;
                        height: 21px;
                        transition: color .5s;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            >div {
                position: absolute;
                top: 0;
                width: 100%;
                height: 75%;
                padding: 16px 32px 0 32px;
                opacity: 0;
                transition: top .5s, opacity .2s ease .1s;
                span {
                    text-align: left;
                    p {
                        float: left;
                        color: black;
                        font: 400 12px Roboto;
                        line-height: 0px;
                        transition: line-height .5s;
                        width: 45%;
                        margin-top: 0;
                        &:first-child {
                            width: 15%;
                        }
                        &:nth-child(3) {
                            width: 15%;
                        }
                        &:nth-child(4) {
                            width: 25%;
                        }
                    }
                }
                ion-icon {
                    color: black;
                    cursor: pointer;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    bottom: 10px;
                }
            }
            &.opened {
                height: 200px;
                >div {
                    top: 48px;
                    padding: 16px 32px 64px 32px;
                    opacity: 1;
                    span p {
                        line-height: 14px;
                    }
                }
            }
            &.clicked ion-item div {
                background-color: #707070;
                border-radius: 50%;
                ion-icon {
                    color: white;
                }
            }
        }
    }
    .favouriteLine {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 1px;
        p {
            margin: 0;
            color: black;
            font: 600 18px/21px Roboto;
        }
        ion-icon {
            color: black;
        }
    }
}

.line {
    height: 1px;
    width: 100%;
    background-color: black;
}

#menu {
    width: 25%;
    height: 100vh;
    background-color: #C4C4C4;
    float: left;
}

.colecPopover {
    --backdrop-opacity: 0;
    * {
        color: black;
    }
    --width: 200px;
    ul {
        padding: 0;
        li {
            list-style-type: none;
            list-style-type: none;
            padding-left: 15px;
            margin-bottom: 14px;
            &:last-child {
                margin: 14px 0 0 0;
            }
            div {
                display: flex;
                align-items: center;
                cursor: pointer;
                span {
                    font: 700 18px/20px Roboto;
                }
                ion-icon {
                    margin-right: 7px;
                }
            }
        }
        .line {
            background-color: #C4C4C4;
        }
    }
}